################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Encryption/DesignTimeBuild/.dtbcache.v2
/.vs/Encryption/FileContentIndex/295081fe-6989-489e-b336-5850b52ca85f.vsidx
/.vs/Encryption/FileContentIndex/5e9867f5-248d-4f7e-97bb-da2f0a9225b1.vsidx
/.vs/Encryption/FileContentIndex/7772ff8d-836c-410f-ba68-514e4891a15f.vsidx
/.vs/Encryption/FileContentIndex/8ba72401-229f-44e7-bff0-8adf4b342e6b.vsidx
/.vs/Encryption/FileContentIndex/b182d0d1-33ce-484b-bede-352f148077e2.vsidx
/.vs/Encryption/FileContentIndex/b24e9f31-a541-429e-8aba-2bc6eda90271.vsidx
/.vs/Encryption/FileContentIndex/b541cb6c-cbca-4b7e-b06f-a2af68fdaaef.vsidx
/.vs/Encryption/FileContentIndex/cd9f12a8-c1d9-4518-abff-022ad11acb76.vsidx
/.vs/Encryption/FileContentIndex/dacaaf36-df96-4296-91a3-df62aa1673dd.vsidx
/.vs/ProjectEvaluation/encryption.metadata.v8.bin
/.vs/ProjectEvaluation/encryption.metadata.v9.bin
/.vs/ProjectEvaluation/encryption.projects.v8.bin
/.vs/ProjectEvaluation/encryption.projects.v9.bin
/.vs/ProjectEvaluation/encryption.strings.v8.bin
/.vs/ProjectEvaluation/encryption.strings.v9.bin
/apiEndpoint/bin/Debug/net8.0/apiEndpoint.deps.json
/apiEndpoint/bin/Debug/net8.0/apiEndpoint.dll
/apiEndpoint/bin/Debug/net8.0/apiEndpoint.exe
/apiEndpoint/bin/Debug/net8.0/apiEndpoint.pdb
/apiEndpoint/bin/Debug/net8.0/apiEndpoint.runtimeconfig.json
/apiEndpoint/bin/Debug/net8.0/apiEndpoint.staticwebassets.endpoints.json
/apiEndpoint/bin/Debug/net8.0/appsettings.Development.json
/apiEndpoint/bin/Debug/net8.0/appsettings.json
/apiEndpoint/bin/Debug/net8.0/Microsoft.OpenApi.dll
/apiEndpoint/bin/Debug/net8.0/Newtonsoft.Json.dll
/apiEndpoint/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/apiEndpoint/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/apiEndpoint/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/apiEndpoint/obj/Debug/net8.0/staticwebassets/msbuild.build.apiEndpoint.props
/apiEndpoint/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.apiEndpoint.props
/apiEndpoint/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.apiEndpoint.props
/apiEndpoint/obj
/Encryption/bin/Debug/net8.0/Encryption.dll
/Encryption/bin/Debug/net8.0/Encryption.exe
/Encryption/bin/Debug/net8.0/Encryption.pdb
/Encryption/bin/Debug/net8.0/Encryption.staticwebassets.endpoints.json
/Encryption/obj/Debug/net8.0/EndpointInfo
/Encryption/obj/Debug/net8.0/refint/Encryption.dll
/Encryption/obj/Debug/net8.0/ref/Encryption.dll
/Encryption/obj/Debug/net8.0/staticwebassets/msbuild.build.Encryption.props
*.json
/Encryption/obj/Debug/net8.0/apphost.exe
/Encryption/obj/Debug/net8.0/Encryption.AssemblyInfo.cs
/Encryption/obj/Debug/net8.0/Encryption.AssemblyInfoInputs.cache
/Encryption/obj/Debug/net8.0/Encryption.assets.cache
/Encryption/obj/Debug/net8.0/Encryption.csproj.CoreCompileInputs.cache
/Encryption/obj/Debug/net8.0/Encryption.csproj.FileListAbsolute.txt
/Encryption/obj/Debug/net8.0/Encryption.dll
/Encryption/obj/Debug/net8.0/Encryption.GeneratedMSBuildEditorConfig.editorconfig
/Encryption/obj/Debug/net8.0/Encryption.genruntimeconfig.cache
/Encryption/obj/Debug/net8.0/Encryption.pdb
/Encryption/obj/Debug/net8.0/staticwebassets.build.json
/Encryption/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/Encryption/obj/Debug/net8.0/staticwebassets.removed.txt
/Encryption/obj/Encryption.csproj.nuget.dgspec.json
/Encryption/obj/Encryption.csproj.nuget.g.props
/Encryption/obj/project.assets.json
/Encryption/obj/project.nuget.cache
